<h2>Récap</h2>
<div>
    @if(formData)
    {
        
        <p>Nom: {{formData.nom}}</p>
        <p>Prénom: {{formData.prenom}}</p>
        <p>Civilité: {{formData.civilite}}</p>
        <p>Adresse: {{formData.adresse}}</p>
        <p>Code Postal: {{formData.cp}}</p>
        <p>Ville: {{formData.ville}}</p>
        <p>Pays: {{formData.pays}}</p>
        <p>Email: {{formData.email}}</p>
        <p>Téléphone: {{formData.tel}}</p>
        <p>Login: {{formData.login}}</p>
        <p>Mot de passe: {{formData.password}}</p>
    }
</div>
