footer {
    background-color: #333;
    color: #fff;
    padding: 10px 19px; /* Ajout de padding à gauche et à droite */
    text-align: center;
    font-size: 14px;
    margin-top: 20px; /* Espacement entre le contenu principal et le footer */
  }